---
- hosts: all
  become: yes
  tasks:
    # 1. Исправляем репозитории CentOS 7, переключая их на vault.centos.org
    - name: fix centos 7 repositories
      shell: |
        sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
        sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*

    # 2. Устанавливаем временный DNS (Google), чтобы yum смог достучаться до репозиториев
    - name: set temporary dns for yum
      shell: echo "nameserver 8.8.8.8" > /etc/resolv.conf

    - name: disable selinux
      selinux:
        state: disabled

    - name: install packages
      yum:
        name:
          - bind
          - bind-utils
          - ntp
        state: latest
        update_cache: yes

- hosts: ns01
  become: yes
  tasks:
    - name: copy master config
      copy:
        src: master-named.conf
        dest: /etc/named.conf
        owner: root
        group: named
        mode: 0640
    
    - name: copy all zones
      copy:
        src: "{{ item }}"
        dest: /etc/named/
        owner: root
        group: named
        mode: 0660
      with_fileglob:
        - named.dns*
        - named.newdns*

    - name: ensure named is running
      service:
        name: named
        state: restarted
        enabled: yes

- hosts: client, client2
  become: yes
  tasks:
    - name: set final resolver to our ns01
      copy:
        dest: /etc/resolv.conf
        content: "nameserver 192.168.50.10\n"
